In [1]:
import pandas as pd
import numpy as np
import math
import time

from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
vic_data = pd.read_csv('../../data/victoria.csv')

In [3]:
# Constant Variables 
TIME = 'Time (UTC+10)'
PRICE = 'Regions VIC Trading Price ($/MWh)'
GENERATION = 'Regions VIC Trading Total Intermittent Generation (MW)'
DEMAND = 'Regions VIC Operational Demand (MW)'

POWER = 300
CAPACITY = 580
EFFICIENCY = 0.9
CHARGE_EFF = 90
DISCHARGE_EFF = 90
MLF = 0.991
FIXED_OP = 8.1
VAR_OP = 0

CHARGE = -1
DISCHARGE = 1

In [34]:
MAX_PERC_THRESHOLD = 100

In [4]:
# percentile.exc from excel != np.percentile (np.percentile == percentile.inc from excel)
# code taken from https://stackoverflow.com/questions/38596100/python-equivalent-of-excels-percentile-exc

def quantile_exc(ser, q):
    ser_sorted = ser.sort_values()
    rank = q * (len(ser) + 1) - 1
    assert rank > 0, 'quantile is too small'
    rank_l = int(rank)
    return ser_sorted.iat[rank_l] + (ser_sorted.iat[rank_l + 1] - ser_sorted.iat[rank_l]) * (rank - rank_l)

In [5]:
def create_df(ori_df):
    """ Returns a proper dataframe with columns needed """

    df = ori_df[[TIME, PRICE]]
    df['raw_power'] = 0
    df['dispatch'] = 0
    df['revenue'] = 0
    df['opening'] = 0
    df['closing'] = 0
    df['decision1'] = 0
    
    # I removed the first row because first row of vic is 00:00:00, 
    # which is the last period from the previous year
    df = df.drop([0], axis=0) 
    
    return df

In [36]:
def algorithm3(df):
    """ Finds optimal charge and discharge time across the dataset """
    
    for i in list(df.index):

        if ((i+LOOKAHEAD) < len(df)):

            thelist = df.iloc[i:i+LOOKAHEAD][PRICE]
            ser = pd.Series(thelist)


            if (df.at[i,PRICE] <= quantile_exc(ser,CHARGING_PERCENTILE)):
#                if (quantile_exc(ser,CHARGING_PERCENTILE) - min(thelist) <= MAX_PERC_THRESHOLD):
                    
                df.at[i,'decision1'] = CHARGE

            if (df.at[i,PRICE] >= quantile_exc(ser,DISCHARGING_PERCENTILE)):
#                if (max(thelist) - quantile_exc(ser,DISCHARGING_PERCENTILE) <= MAX_PERC_THRESHOLD):
                df.at[i,'decision1'] = DISCHARGE
                
        else:
            thelist = df.iloc[i:][PRICE]
            ser = pd.Series(thelist)

            if (df.at[i,PRICE] <= ser.quantile(CHARGING_PERCENTILE)):
                df.at[i,'decision1'] = CHARGE

            if (df.at[i,PRICE] >= ser.quantile(DISCHARGING_PERCENTILE)):
                df.at[i,'decision1'] = DISCHARGE
            
    return df

In [7]:
def improve(df):
    """ This function tries to modify the decision by increasing the discharging frequency when it's idle """
    
    df['decision2'] = df['decision1']
    
    for i in range(1, len(df)-1):
        
        # if the current decision is idle
        if df.at[i, 'decision1'] == 0:
            
            prev = df.at[i-1, 'decision1']
            next_ = df.at[i+1, 'decision1']
            
            # find the next non-idle decision
            j = i+1
            while next_ == 0:
                j += 1
                next_ = df.at[j, 'decision1']
                
            # if the previous decision and the next non-idle decision is the same
            if next_ == prev:
                
                prices = list(df.loc[i:j-1, PRICE])
                mean_price = sum(prices)/len(prices)
                next_price = df.at[j, PRICE]
                
                # Charge at negative prices
                if (mean_price <= 0) & (mean_price < next_price):
                    df.at[i:j-1, 'decision2'] = CHARGE
                    
                else:
                    # Using the revenue formula, the minimum requirement to earn a revenue
                    # by discharging at i and charging at j is MULTIPLE_OF
                    if mean_price > (MULTIPLE_OF*next_price):
                        df.loc[i:j-1, 'decision2'] = DISCHARGE
                
    
    return df

In [41]:
def get_opencap(i, df):
    """Get the opening battery capacity for every 30-minutes interval 
    Input:
        i : Current row in df
        df : DataFrame with 'opening' and 'closing' column
    Return 
        opening_cap : Opening battery capacity. Integer dtype
    
    """

    if i != 1: #Not the first row
        df.at[i,"opening"] = df.at[i-1,"closing"]
    opening_cap = math.ceil(df.at[i, "opening"])
    
    return opening_cap
    
def get_dispatch(rawPower):
    """ Get the power dispatched for every 30-minutes interval 
    Input:
        rawPower : Current rawPower. Integer Datatype
    Return:
        dispatch : Raw_power dispatched from the market. Integer dtype
    """
    if rawPower < 0:
        eff = 1
    else:
        eff = DISCHARGE_EFF / 100
            
    dispatch = round(rawPower / 2 * eff, 0)
    return dispatch

def get_closecap(opening_cap, dispatch):
    """Get the battery closing capacity for every 30-minutes interval
    Input:
        opening_cap : Opening battery capacity. Integer dtype
        dispatch : Raw_power dispatched from the market. Integer dtype
    Return:
        closecap : Closing battery capacity. Integer dtype
    """
    if dispatch < 0:
        eff = CHARGE_EFF / 100
    else:
        eff = 100 / DISCHARGE_EFF

    closecap = math.ceil(max(0, min((opening_cap - (dispatch * eff)), CAPACITY)))
    return closecap
    
def get_revenue(price, dispatch):
    """ Get the Revenue for every 30-minutes interval
    Input:
        price : Market spot price for electricity. Float dtype
        dispatch : Raw_power dispatched from the market. Integer dtype
    Return:
        revenue : current revenue. Integer dtype
    """
    if dispatch < 0:
        factor = 1/MLF
    else:
        factor = MLF 
    revenue = round(price * dispatch * factor)
    return revenue

def run_algo3(i, df, opening_cap):
    """ Get the Raw Power for every 30-minutes interval
    Input:
        i : Current row in df
        df : DataFrame with 'charge_forecaset' and 'discharge_forecast' column
    Return:
        opening_cap : Opening battery capacity. Integer dtype
    """
    raw_power = 0
    if (df.at[i,'decision2'] == CHARGE):
        raw_power = -min(POWER, (CAPACITY-opening_cap)/EFFICIENCY*2)     # CHARGE
        
    elif (df.at[i,'decision2'] == DISCHARGE):
        raw_power = min(POWER, opening_cap/EFFICIENCY*2)      # DISCHARGE
            
    return raw_power

def calculate(df):
    """ Calculate the Battery Opening, Closing Capacity, Raw Power, Market dispatch 
        and Revenue for the entire df.
    Input:
        df : DataFrame with 'price, opening', 'closing', 'raw_power', 'dispatch'
            and 'revenue' column
    Return :
        df : DataFrame with 'price, opening', 'closing', 'raw_power', 'dispatch'
            and 'revenue' column
    """
    # Go through each 30-minute interval of df
    for i in list(df.index):
        # get current Spot Price
        price = df.at[i, PRICE]
        
        # update opening capacity
        opening_cap = get_opencap(i, df)

        # find raw_power
        rawPower = run_algo3(i, df, opening_cap)
        df.at[i,'raw_power'] = rawPower

        # find market_dispatch 
        dispatch = get_dispatch(rawPower)
        df.at[i,"dispatch"] = dispatch

        # find closing_capacity   
        df.at[i,"closing"] = get_closecap(opening_cap, dispatch)

        #find revenue        
        df.at[i,"revenue"] = get_revenue(price, dispatch)
    
    return df

In [39]:
def show_result(df):
    """ Print the revenue related information computed from df.
    Input: 
        df : DataFrame with 'revenue' column.
    """
    print("Total revenue in the dataset:", df["revenue"].sum())
    print("Total days in the dataset:", len(df)/48)
    print("Revenue per day:", df["revenue"].sum() / (len(df)/48))
    
    return None

def run_all(ori_df):
    """ Run the entire data pipeline including initialisng (Data Processing), 
    finding the optimal charging and discarging period (Data Modelling), 
    calculating the revenue based on the optimal period mentioned above (Model Testing and Evaluation).
    
    Input:
        ori_df : DataFrame which contains spot_price for every 30-minute interval. 
    Return:
        df : DataFrame with 'price, opening', 'closing', 'raw_power', 'dispatch'
            and 'revenue' column.
    """
    # Start time
    start = time.time()
    # Initialise df
    df2 = create_df(ori_df)
    
    # Find Optimal Charging and Discharging period
    df3 = algorithm3(df2)
    
    df3 = improve(df3)
    
    # Calculate the revenue
    df = calculate(df3)
    # Show the revenue       
    show_result(df)
    # End Time      
    end = time.time()
    print("Time Complexity for running the entire Algorithm 3: {time_taken}s".format(time_taken = end-start))
            
    return df

In [42]:
# Improved
# $93210.48/day -> MULTIPLE_OF = 1.58
MULTIPLE_OF = 1.58
LOOKAHEAD = 10
CHARGING_PERCENTILE = 0.32
DISCHARGING_PERCENTILE = 0.74
test_run = run_all(vic_data)

Total revenue in the dataset: 123211910
Total days in the dataset: 1322.0
Revenue per day: 93201.14220877459
Time Complexity for running the entire Algorithm 3: 26.917481899261475s

In [33]:
test_run.loc[(test_run['Time (UTC+10)'] >= '2018-01-28') & (test_run['Time (UTC+10)'] < '2018-01-29')]

,Time (UTC+10),Regions VIC Trading Price ($/MWh),raw_power,dispatch,revenue,opening,closing,decision1
1296,2018-01-28 00:00:00,84.04,0,0,0,0,0,1
1297,2018-01-28 00:30:00,79.86,0,0,0,0,0,1
1298,2018-01-28 01:00:00,70.01,0,0,0,0,0,1
1299,2018-01-28 01:30:00,64.20,0,0,0,0,0,1
1300,2018-01-28 02:00:00,70.39,0,0,0,0,0,1
1301,2018-01-28 02:30:00,61.22,0,0,0,0,0,1
1302,2018-01-28 03:00:00,59.97,0,0,0,0,0,0
1303,2018-01-28 03:30:00,59.72,0,0,0,0,0,0
1304,2018-01-28 04:00:00,59.90,0,0,0,0,0,0
1305,2018-01-28 04:30:00,61.63,0,0,0,0,0,0
1306,2018-01-28 05:00:00,57.10,0,0,0,0,0,0
1307,2018-01-28 05:30:00,56.61,-300,-150,-8569,0,135,-1
1308,2018-01-28 06:00:00,54.50,-300,-150,-8249,135,270,-1
1309,2018-01-28 06:30:00,55.98,-300,-150,-8473,270,405,-1
1310,2018-01-28 07:00:00,61.85,-300,-150,-9362,405,540,-1
1311,2018-01-28 07:30:00,56.46,-88,-44,-2507,540,580,-1
1312,2018-01-28 08:00:00,57.52,0,0,0,580,580,-1
1313,2018-01-28 08:30:00,100.70,0,0,0,580,580,-1
1314,2018-01-28 09:00:00,165.49,0,0,0,580,580,0
1315,2018-01-28 09:30:00,164.08,0,0,0,580,580,-1
1316,2018-01-28 10:00:00,150.74,0,0,0,580,580,-1
1317,2018-01-28 10:30:00,186.13,0,0,0,580,580,-1
1318,2018-01-28 11:00:00,186.33,0,0,0,580,580,-1
1319,2018-01-28 11:30:00,148.90,0,0,0,580,580,-1
1320,2018-01-28 12:00:00,280.68,0,0,0,580,580,0
1321,2018-01-28 12:30:00,234.51,0,0,0,580,580,0
1322,2018-01-28 13:00:00,145.38,0,0,0,580,580,-1
1323,2018-01-28 13:30:00,289.18,0,0,0,580,580,0
1324,2018-01-28 14:00:00,354.14,0,0,0,580,580,0
1325,2018-01-28 14:30:00,449.14,0,0,0,580,580,0
1326,2018-01-28 15:00:00,3215.19,0,0,0,580,580,0
1327,2018-01-28 15:30:00,1716.42,0,0,0,580,580,0
1328,2018-01-28 16:00:00,289.68,0,0,0,580,580,0
1329,2018-01-28 16:30:00,1073.01,300,135,143553,580,430,1
1330,2018-01-28 17:00:00,131.27,300,135,17562,430,280,1
1331,2018-01-28 17:30:00,128.33,300,135,17169,280,130,1
1332,2018-01-28 18:00:00,111.33,0,0,0,130,130,0
1333,2018-01-28 18:30:00,138.27,288,130,17813,130,0,1
1334,2018-01-28 19:00:00,122.99,0,0,0,0,0,1
1335,2018-01-28 19:30:00,117.41,0,0,0,0,0,0
1336,2018-01-28 20:00:00,110.18,0,0,0,0,0,0
1337,2018-01-28 20:30:00,105.63,0,0,0,0,0,0
1338,2018-01-28 21:00:00,104.32,0,0,0,0,0,0
1339,2018-01-28 21:30:00,97.16,-300,-150,-14706,0,135,-1
1340,2018-01-28 22:00:00,89.04,-300,-150,-13477,135,270,-1
1341,2018-01-28 22:30:00,104.57,0,0,0,270,270,0
1342,2018-01-28 23:00:00,100.03,0,0,0,270,270,0
1343,2018-01-28 23:30:00,127.98,0,0,0,270,270,0

In [254]:
test_run[(test_run['decision1'] != test_run['decision2']) & (test_run['decision2'] == -1)].head(50)

,Time (UTC+10),Regions VIC Trading Price ($/MWh),raw_power,dispatch,revenue,opening,closing,decision1,decision2
16099,2018-12-02 09:30:00,-19.27,-300,-150,2917,0,135,0,-1
16101,2018-12-02 10:30:00,-15.09,-300,-150,2285,0,135,0,-1
40317,2020-04-19 22:30:00,-1.82,-300,-150,276,0,135,0,-1
40318,2020-04-19 23:00:00,-1.41,-300,-150,214,135,270,0,-1
47060,2020-09-07 10:00:00,-10.33,-300,-150,1564,0,135,0,-1
47683,2020-09-20 09:30:00,-4.73,-300,-150,716,0,135,0,-1
48259,2020-10-02 09:30:00,-35.95,-300,-150,5442,0,135,0,-1
48285,2020-10-02 22:30:00,-10.77,-300,-150,1631,0,135,0,-1
48293,2020-10-03 02:30:00,-42.08,-300,-150,6370,0,135,0,-1
50034,2020-11-08 09:00:00,-3.20,-300,-150,485,0,135,0,-1
50035,2020-11-08 09:30:00,-2.70,-300,-150,409,135,270,0,-1
50036,2020-11-08 10:00:00,-5.94,-300,-150,900,270,405,0,-1
50037,2020-11-08 10:30:00,2.14,-300,-150,-323,405,540,0,-1
51040,2020-11-29 08:00:00,-22.81,-300,-150,3453,0,135,0,-1
51354,2020-12-05 21:00:00,-6.58,-300,-150,996,0,135,0,-1
51356,2020-12-05 22:00:00,-12.45,-300,-150,1885,0,135,0,-1
51357,2020-12-05 22:30:00,-8.60,-300,-150,1302,135,270,0,-1
51358,2020-12-05 23:00:00,-25.19,-300,-150,3813,270,405,0,-1
51359,2020-12-05 23:30:00,-6.73,-300,-150,1019,405,540,0,-1
51378,2020-12-06 09:00:00,-38.99,-300,-150,5902,0,135,0,-1
51612,2020-12-11 06:00:00,-14.71,-300,-150,2227,0,135,0,-1
51655,2020-12-12 03:30:00,2.02,-300,-150,-305,0,135,0,-1
51656,2020-12-12 04:00:00,-1.27,-300,-150,193,135,270,0,-1
51657,2020-12-12 04:30:00,-4.19,-300,-150,635,270,405,0,-1
51658,2020-12-12 05:00:00,-14.79,-300,-150,2239,405,540,0,-1
51660,2020-12-12 06:00:00,0.58,-300,-150,-87,390,525,0,-1
51661,2020-12-12 06:30:00,-12.42,-122,-61,765,525,580,0,-1
51701,2020-12-13 02:30:00,-9.47,-300,-150,1434,0,135,0,-1
51702,2020-12-13 03:00:00,-9.13,-300,-150,1382,135,270,0,-1
51706,2020-12-13 05:00:00,-10.03,-300,-150,1519,0,135,0,-1
51952,2020-12-18 08:00:00,-1.51,-300,-150,229,0,135,0,-1
51958,2020-12-18 11:00:00,-18.39,-300,-150,2784,120,255,0,-1
52247,2020-12-24 11:30:00,-4.68,-300,-150,709,0,135,0,-1
52287,2020-12-25 07:30:00,-4.77,-300,-150,722,0,135,0,-1
52290,2020-12-25 09:00:00,-4.70,-300,-150,712,0,135,0,-1
52291,2020-12-25 09:30:00,-6.55,-300,-150,992,135,270,0,-1
52726,2021-01-03 11:00:00,-0.88,-300,-150,134,0,135,0,-1
52822,2021-01-05 11:00:00,-8.02,-300,-150,1214,0,135,0,-1
52865,2021-01-06 08:30:00,-23.42,-300,-150,3545,0,135,0,-1
53343,2021-01-16 07:30:00,-19.41,-300,-150,2938,0,135,0,-1
53344,2021-01-16 08:00:00,-22.16,-300,-150,3355,135,270,0,-1
53395,2021-01-17 09:30:00,-4.34,-300,-150,657,0,135,0,-1
53398,2021-01-17 11:00:00,-5.44,-300,-150,824,0,135,0,-1
54016,2021-01-30 08:00:00,-18.09,-300,-150,2739,0,135,0,-1
54689,2021-02-13 08:30:00,-20.67,-300,-150,3129,0,135,0,-1
54690,2021-02-13 09:00:00,-20.10,-300,-150,3043,135,270,0,-1
54737,2021-02-14 08:30:00,-33.45,-300,-150,5064,0,135,0,-1
55270,2021-02-25 11:00:00,-0.06,-300,-150,10,0,135,0,-1
57028,2021-04-03 02:00:00,-4.36,-300,-150,660,0,135,0,-1
57368,2021-04-10 04:00:00,2.45,-300,-150,-370,0,135,0,-1

In [280]:
test_run.iloc[48280:48295]

,Time (UTC+10),Regions VIC Trading Price ($/MWh),raw_power,dispatch,revenue,opening,closing,decision1,decision2
48281,2020-10-02 20:30:00,33.00,0,0,0,0,0,1,1
48282,2020-10-02 21:00:00,30.61,0,0,0,0,0,1,1
48283,2020-10-02 21:30:00,20.03,0,0,0,0,0,1,1
48284,2020-10-02 22:00:00,6.55,0,0,0,0,0,1,1
48285,2020-10-02 22:30:00,-10.77,-300,-150,1631,0,135,0,-1
48286,2020-10-02 23:00:00,0.64,0,0,0,135,135,1,0
48287,2020-10-02 23:30:00,13.94,300,135,1865,135,0,1,1
48288,2020-10-03 00:00:00,20.86,0,0,0,0,0,1,1
48289,2020-10-03 00:30:00,-8.32,0,0,0,0,0,1,1
48290,2020-10-03 01:00:00,-17.49,0,0,0,0,0,1,1
48291,2020-10-03 01:30:00,-20.62,0,0,0,0,0,1,1
48292,2020-10-03 02:00:00,-41.78,0,0,0,0,0,1,1
48293,2020-10-03 02:30:00,-42.08,-300,-150,6370,0,135,0,-1
48294,2020-10-03 03:00:00,-8.08,300,135,-1080,135,0,1,1
48295,2020-10-03 03:30:00,-42.09,0,0,0,0,0,1,0

In [228]:
test_run.iloc[1296:1344]

,Time (UTC+10),Regions VIC Trading Price ($/MWh),raw_power,dispatch,revenue,opening,closing,decision1,decision2
1297,2018-01-28 00:30:00,79.86,0,0,0,0,0,1,1
1298,2018-01-28 01:00:00,70.01,0,0,0,0,0,1,1
1299,2018-01-28 01:30:00,64.20,0,0,0,0,0,1,1
1300,2018-01-28 02:00:00,70.39,0,0,0,0,0,1,1
1301,2018-01-28 02:30:00,61.22,0,0,0,0,0,1,1
1302,2018-01-28 03:00:00,59.97,0,0,0,0,0,0,0
1303,2018-01-28 03:30:00,59.72,0,0,0,0,0,0,0
1304,2018-01-28 04:00:00,59.90,0,0,0,0,0,0,0
1305,2018-01-28 04:30:00,61.63,0,0,0,0,0,0,0
1306,2018-01-28 05:00:00,57.10,0,0,0,0,0,0,0
1307,2018-01-28 05:30:00,56.61,-300,-150,-8568,0,135,-1,-1
1308,2018-01-28 06:00:00,54.50,-300,-150,-8249,135,270,-1,-1
1309,2018-01-28 06:30:00,55.98,-300,-150,-8473,270,405,-1,-1
1310,2018-01-28 07:00:00,61.85,-300,-150,-9361,405,540,-1,-1
1311,2018-01-28 07:30:00,56.46,-88,-44,-2506,540,580,-1,-1
1312,2018-01-28 08:00:00,57.52,0,0,0,580,580,-1,-1
1313,2018-01-28 08:30:00,100.70,0,0,0,580,580,-1,-1
1314,2018-01-28 09:00:00,165.49,0,0,0,580,580,0,0
1315,2018-01-28 09:30:00,164.08,0,0,0,580,580,-1,-1
1316,2018-01-28 10:00:00,150.74,0,0,0,580,580,-1,-1
1317,2018-01-28 10:30:00,186.13,0,0,0,580,580,-1,-1
1318,2018-01-28 11:00:00,186.33,0,0,0,580,580,-1,-1
1319,2018-01-28 11:30:00,148.90,0,0,0,580,580,-1,-1
1320,2018-01-28 12:00:00,280.68,300,135,37551,580,430,0,1
1321,2018-01-28 12:30:00,234.51,300,135,31374,430,280,0,1
1322,2018-01-28 13:00:00,145.38,-300,-150,-22005,280,415,-1,-1
1323,2018-01-28 13:30:00,289.18,0,0,0,415,415,0,0
1324,2018-01-28 14:00:00,354.14,0,0,0,415,415,0,0
1325,2018-01-28 14:30:00,449.14,0,0,0,415,415,0,0
1326,2018-01-28 15:00:00,3215.19,300,135,430145,415,265,1,1
1327,2018-01-28 15:30:00,1716.42,300,135,229632,265,115,1,1
1328,2018-01-28 16:00:00,289.68,255,115,33014,115,0,1,1
1329,2018-01-28 16:30:00,1073.01,0,0,0,0,0,1,1
1330,2018-01-28 17:00:00,131.27,0,0,0,0,0,1,1
1331,2018-01-28 17:30:00,128.33,0,0,0,0,0,1,1
1332,2018-01-28 18:00:00,111.33,0,0,0,0,0,0,0
1333,2018-01-28 18:30:00,138.27,0,0,0,0,0,1,1
1334,2018-01-28 19:00:00,122.99,0,0,0,0,0,1,1
1335,2018-01-28 19:30:00,117.41,0,0,0,0,0,0,0
1336,2018-01-28 20:00:00,110.18,0,0,0,0,0,0,0
1337,2018-01-28 20:30:00,105.63,0,0,0,0,0,0,0
1338,2018-01-28 21:00:00,104.32,0,0,0,0,0,0,0
1339,2018-01-28 21:30:00,97.16,-300,-150,-14706,0,135,-1,-1
1340,2018-01-28 22:00:00,89.04,-300,-150,-13477,135,270,-1,-1
1341,2018-01-28 22:30:00,104.57,0,0,0,270,270,0,0
1342,2018-01-28 23:00:00,100.03,0,0,0,270,270,0,0
1343,2018-01-28 23:30:00,127.98,0,0,0,270,270,0,0
1344,2018-01-29 00:00:00,144.59,300,135,19344,270,120,1,1

In [155]:
test_run.iloc[816:864]

,Time (UTC+10),Regions VIC Trading Price ($/MWh),raw_power,dispatch,revenue,opening,closing,decision1,decision2
817,2018-01-18 00:30:00,66.33,0,0,0,0,0,1,1
818,2018-01-18 01:00:00,64.18,0,0,0,0,0,0,0
819,2018-01-18 01:30:00,63.07,0,0,0,0,0,0,0
820,2018-01-18 02:00:00,67.56,0,0,0,0,0,1,1
821,2018-01-18 02:30:00,65.95,0,0,0,0,0,1,1
822,2018-01-18 03:00:00,63.38,0,0,0,0,0,0,0
823,2018-01-18 03:30:00,62.60,0,0,0,0,0,0,0
824,2018-01-18 04:00:00,61.87,0,0,0,0,0,0,0
825,2018-01-18 04:30:00,59.69,-300,-150,-9034,0,135,-1,-1
826,2018-01-18 05:00:00,66.01,0,0,0,135,135,0,0
827,2018-01-18 05:30:00,70.14,0,0,0,135,135,0,0
828,2018-01-18 06:00:00,60.72,-300,-150,-9190,135,270,-1,-1
829,2018-01-18 06:30:00,60.43,-300,-150,-9146,270,405,-1,-1
830,2018-01-18 07:00:00,63.04,-300,-150,-9541,405,540,-1,-1
831,2018-01-18 07:30:00,62.30,-88,-44,-2766,540,580,-1,-1
832,2018-01-18 08:00:00,79.55,0,0,0,580,580,-1,-1
833,2018-01-18 08:30:00,95.07,0,0,0,580,580,0,0
834,2018-01-18 09:00:00,110.51,300,135,14785,580,430,1,1
835,2018-01-18 09:30:00,73.11,-300,-150,-11066,430,565,-1,-1
836,2018-01-18 10:00:00,74.89,-33,-17,-1284,565,580,-1,-1
837,2018-01-18 10:30:00,75.46,0,0,0,580,580,-1,-1
838,2018-01-18 11:00:00,84.73,0,0,0,580,580,-1,-1
839,2018-01-18 11:30:00,87.91,0,0,0,580,580,-1,-1
840,2018-01-18 12:00:00,94.21,0,0,0,580,580,-1,-1
841,2018-01-18 12:30:00,100.81,0,0,0,580,580,-1,-1
842,2018-01-18 13:00:00,93.26,0,0,0,580,580,-1,-1
843,2018-01-18 13:30:00,105.53,0,0,0,580,580,-1,-1
844,2018-01-18 14:00:00,107.89,0,0,0,580,580,-1,-1
845,2018-01-18 14:30:00,136.05,0,0,0,580,580,-1,-1
846,2018-01-18 15:00:00,1775.20,300,135,237496,580,430,0,1
847,2018-01-18 15:30:00,86.72,-300,-150,-13126,430,565,-1,-1
848,2018-01-18 16:00:00,1960.54,0,0,0,565,565,0,0
849,2018-01-18 16:30:00,5682.01,0,0,0,565,565,0,0
850,2018-01-18 17:00:00,12931.04,300,135,1729980,565,415,1,1
851,2018-01-18 17:30:00,11960.16,300,135,1600091,415,265,1,1
852,2018-01-18 18:00:00,5078.60,300,135,679441,265,115,1,1
853,2018-01-18 18:30:00,238.45,255,115,27175,115,0,1,1
854,2018-01-18 19:00:00,178.84,0,0,0,0,0,1,1
855,2018-01-18 19:30:00,230.07,0,0,0,0,0,1,1
856,2018-01-18 20:00:00,124.28,0,0,0,0,0,1,1
857,2018-01-18 20:30:00,103.98,0,0,0,0,0,0,0
858,2018-01-18 21:00:00,104.00,0,0,0,0,0,0,0
859,2018-01-18 21:30:00,139.75,0,0,0,0,0,1,1
860,2018-01-18 22:00:00,82.73,0,0,0,0,0,0,0
861,2018-01-18 22:30:00,117.27,0,0,0,0,0,1,1
862,2018-01-18 23:00:00,114.38,0,0,0,0,0,1,1
863,2018-01-18 23:30:00,147.70,0,0,0,0,0,1,1
864,2018-01-19 00:00:00,118.69,0,0,0,0,0,1,1